## Colab Prep

Execute the following code cells to whenever you open/restart the notebook in Google Colab.

In [ ]:
!pip install "polars[all]"

In [ ]:
!wget https://github.com/WSU-DataScience/dsci_325_module_7_more_data_management_in_python/raw/main/sample_data.zip

In [ ]:
!unzip ./sample_data.zip

In [ ]:
!pip install more_polars

# Joining Tables with `polars`

In [3]:
import polars as pl
pl.Config.with_columns_kwargs = True

## Example

The following tables were taken from the Wikipedia page for joins and will provide a small but sufficiently complicated example for introducing joins.

In [2]:
dept = pl.read_csv("./sample_data/department.csv")
dept

shape: (4, 2)
┌────────┬─────────────┐
│ DeptID ┆ DeptName    │
│ ---    ┆ ---         │
│ i64    ┆ str         │
╞════════╪═════════════╡
│ 31     ┆ Sales       │
│ 33     ┆ Engineering │
│ 34     ┆ Clerical    │
│ 35     ┆ Marketing   │
└────────┴─────────────┘

In [4]:
empl = pl.read_csv("./sample_data/employee.csv")
empl

shape: (6, 3)
┌────────────┬────────────┬────────┐
│ LastName   ┆ EmployeeID ┆ DeptID │
│ ---        ┆ ---        ┆ ---    │
│ str        ┆ i64        ┆ i64    │
╞════════════╪════════════╪════════╡
│ Rafferty   ┆ 102        ┆ 31     │
│ Jones      ┆ 105        ┆ 33     │
│ Heisenberg ┆ 106        ┆ 33     │
│ Robinson   ┆ 108        ┆ 34     │
│ Smith      ┆ 110        ┆ 34     │
│ Williams   ┆ 111        ┆ null   │
└────────────┴────────────┴────────┘

In [4]:
salary = pl.read_csv("./sample_data/salary.csv")
salary

shape: (18, 3)
┌────────────┬──────┬────────┐
│ EmployeeID ┆ Year ┆ Salary │
│ ---        ┆ ---  ┆ ---    │
│ i64        ┆ i64  ┆ i64    │
╞════════════╪══════╪════════╡
│ 102        ┆ 2020 ┆ 52000  │
│ 102        ┆ 2021 ┆ 53000  │
│ 102        ┆ 2022 ┆ 54000  │
│ 105        ┆ 2020 ┆ 73000  │
│ 105        ┆ 2021 ┆ 74000  │
│ …          ┆ …    ┆ …      │
│ 110        ┆ 2021 ┆ 59000  │
│ 110        ┆ 2022 ┆ 61000  │
│ 111        ┆ 2020 ┆ 72000  │
│ 111        ┆ 2021 ┆ 73000  │
│ 111        ┆ 2022 ┆ 74000  │
└────────────┴──────┴────────┘

## LEFT JOIN

In [7]:
empl.join(dept, on='DeptID', how='left')

shape: (6, 4)
┌────────────┬────────────┬────────┬─────────────┐
│ LastName   ┆ EmployeeID ┆ DeptID ┆ DeptName    │
│ ---        ┆ ---        ┆ ---    ┆ ---         │
│ str        ┆ i64        ┆ i64    ┆ str         │
╞════════════╪════════════╪════════╪═════════════╡
│ Rafferty   ┆ 102        ┆ 31     ┆ Sales       │
│ Jones      ┆ 105        ┆ 33     ┆ Engineering │
│ Heisenberg ┆ 106        ┆ 33     ┆ Engineering │
│ Robinson   ┆ 108        ┆ 34     ┆ Clerical    │
│ Smith      ┆ 110        ┆ 34     ┆ Clerical    │
│ Williams   ┆ 111        ┆ null   ┆ null        │
└────────────┴────────────┴────────┴─────────────┘

## When the index names differ

In [8]:
empl2 = empl.rename({'DeptID':'dept_id'})
empl2

shape: (6, 3)
┌────────────┬────────────┬─────────┐
│ LastName   ┆ EmployeeID ┆ dept_id │
│ ---        ┆ ---        ┆ ---     │
│ str        ┆ i64        ┆ i64     │
╞════════════╪════════════╪═════════╡
│ Rafferty   ┆ 102        ┆ 31      │
│ Jones      ┆ 105        ┆ 33      │
│ Heisenberg ┆ 106        ┆ 33      │
│ Robinson   ┆ 108        ┆ 34      │
│ Smith      ┆ 110        ┆ 34      │
│ Williams   ┆ 111        ┆ null    │
└────────────┴────────────┴─────────┘

In [10]:
empl2.join(dept, left_on='dept_id', right_on='DeptID', how='left')

shape: (6, 4)
┌────────────┬────────────┬─────────┬─────────────┐
│ LastName   ┆ EmployeeID ┆ dept_id ┆ DeptName    │
│ ---        ┆ ---        ┆ ---     ┆ ---         │
│ str        ┆ i64        ┆ i64     ┆ str         │
╞════════════╪════════════╪═════════╪═════════════╡
│ Rafferty   ┆ 102        ┆ 31      ┆ Sales       │
│ Jones      ┆ 105        ┆ 33      ┆ Engineering │
│ Heisenberg ┆ 106        ┆ 33      ┆ Engineering │
│ Robinson   ┆ 108        ┆ 34      ┆ Clerical    │
│ Smith      ┆ 110        ┆ 34      ┆ Clerical    │
│ Williams   ┆ 111        ┆ null    ┆ null        │
└────────────┴────────────┴─────────┴─────────────┘

## RIGHT JOIN

In [12]:
empl2.join(dept, left_on='dept_id', right_on='DeptID', how='right')

shape: (6, 4)
┌────────────┬────────────┬────────┬─────────────┐
│ LastName   ┆ EmployeeID ┆ DeptID ┆ DeptName    │
│ ---        ┆ ---        ┆ ---    ┆ ---         │
│ str        ┆ i64        ┆ i64    ┆ str         │
╞════════════╪════════════╪════════╪═════════════╡
│ Rafferty   ┆ 102        ┆ 31     ┆ Sales       │
│ Jones      ┆ 105        ┆ 33     ┆ Engineering │
│ Heisenberg ┆ 106        ┆ 33     ┆ Engineering │
│ Robinson   ┆ 108        ┆ 34     ┆ Clerical    │
│ Smith      ┆ 110        ┆ 34     ┆ Clerical    │
│ null       ┆ null       ┆ 35     ┆ Marketing   │
└────────────┴────────────┴────────┴─────────────┘

## Full Outer Join

In [14]:
empl.join(dept, on='DeptID', how='full')

shape: (7, 5)
┌────────────┬────────────┬────────┬──────────────┬─────────────┐
│ LastName   ┆ EmployeeID ┆ DeptID ┆ DeptID_right ┆ DeptName    │
│ ---        ┆ ---        ┆ ---    ┆ ---          ┆ ---         │
│ str        ┆ i64        ┆ i64    ┆ i64          ┆ str         │
╞════════════╪════════════╪════════╪══════════════╪═════════════╡
│ Rafferty   ┆ 102        ┆ 31     ┆ 31           ┆ Sales       │
│ Jones      ┆ 105        ┆ 33     ┆ 33           ┆ Engineering │
│ Heisenberg ┆ 106        ┆ 33     ┆ 33           ┆ Engineering │
│ Robinson   ┆ 108        ┆ 34     ┆ 34           ┆ Clerical    │
│ Smith      ┆ 110        ┆ 34     ┆ 34           ┆ Clerical    │
│ Williams   ┆ 111        ┆ null   ┆ null         ┆ null        │
│ null       ┆ null       ┆ null   ┆ 35           ┆ Marketing   │
└────────────┴────────────┴────────┴──────────────┴─────────────┘

## Inner Join

In [15]:
empl.join(dept, on='DeptID', how='inner')

shape: (5, 4)
┌────────────┬────────────┬────────┬─────────────┐
│ LastName   ┆ EmployeeID ┆ DeptID ┆ DeptName    │
│ ---        ┆ ---        ┆ ---    ┆ ---         │
│ str        ┆ i64        ┆ i64    ┆ str         │
╞════════════╪════════════╪════════╪═════════════╡
│ Rafferty   ┆ 102        ┆ 31     ┆ Sales       │
│ Jones      ┆ 105        ┆ 33     ┆ Engineering │
│ Heisenberg ┆ 106        ┆ 33     ┆ Engineering │
│ Robinson   ┆ 108        ┆ 34     ┆ Clerical    │
│ Smith      ┆ 110        ┆ 34     ┆ Clerical    │
└────────────┴────────────┴────────┴─────────────┘

## <font color="red"> Exercise 7.3.1 </font>

**Tasks**

1. Use help on `empl.join` and identify any additional join types offered by `polars`, and
2. Write a sentence or two providing an example that might require each join type.

In [5]:
# Your code here
help(empl.join)

Help on method join in module polars.dataframe.frame:

join(other: 'DataFrame', on: 'str | Expr | Sequence[str | Expr] | None' = None, how: 'JoinStrategy' = 'inner', *, left_on: 'str | Expr | Sequence[str | Expr] | None' = None, right_on: 'str | Expr | Sequence[str | Expr] | None' = None, suffix: 'str' = '_right', validate: 'JoinValidation' = 'm:m', join_nulls: 'bool' = False, coalesce: 'bool | None' = None) -> 'DataFrame' method of polars.dataframe.frame.DataFrame instance
    Join in SQL-like fashion.

    Parameters
    ----------
    other
        DataFrame to join with.
    on
        Name(s) of the join columns in both DataFrames.
    how : {'inner', 'left', 'right', 'full', 'semi', 'anti', 'cross'}
        Join strategy.

        * *inner*
            Returns rows that have matching values in both tables
        * *left*
            Returns all rows from the left table, and the matched rows from the
            right table
        * *right*
            Returns all rows from the right table, and the matched rows from the
            left table
        * *full*
            Returns all rows when there is a match in either left or right table
        * *cross*
            Returns the Cartesian product of rows from both tables
        * *semi*
            Returns rows from the left table that have a match in the right table.
        * *anti*
            Returns rows from the left table that have no match in the right table.

        .. note::
            A left join preserves the row order of the left DataFrame.
    left_on
        Name(s) of the left join column(s).
    right_on
        Name(s) of the right join column(s).
    suffix
        Suffix to append to columns with a duplicate name.
    validate: {'m:m', 'm:1', '1:m', '1:1'}
        Checks if join is of specified type.

            * *many_to_many*
                “m:m”: default, does not result in checks
            * *one_to_one*
                “1:1”: check if join keys are unique in both left and right datasets
            * *one_to_many*
                “1:m”: check if join keys are unique in left dataset
            * *many_to_one*
                “m:1”: check if join keys are unique in right dataset

        .. note::
            This is currently not supported by the streaming engine.

    join_nulls
        Join on null values. By default null values will never produce matches.
    coalesce
        Coalescing behavior (merging of join columns).

        - None: -> join specific.
        - True: -> Always coalesce join columns.
        - False: -> Never coalesce join columns.

        Note that joining on any other expressions than `col`
        will turn off coalescing.

    See Also
    --------
    join_asof

    Examples
    --------
    >>> df = pl.DataFrame(
    ...     {
    ...         "foo": [1, 2, 3],
    ...         "bar": [6.0, 7.0, 8.0],
    ...         "ham": ["a", "b", "c"],
    ...     }
    ... )
    >>> other_df = pl.DataFrame(
    ...     {
    ...         "apple": ["x", "y", "z"],
    ...         "ham": ["a", "b", "d"],
    ...     }
    ... )
    >>> df.join(other_df, on="ham")
    shape: (2, 4)
    ┌─────┬─────┬─────┬───────┐
    │ foo ┆ bar ┆ ham ┆ apple │
    │ --- ┆ --- ┆ --- ┆ ---   │
    │ i64 ┆ f64 ┆ str ┆ str   │
    ╞═════╪═════╪═════╪═══════╡
    │ 1   ┆ 6.0 ┆ a   ┆ x     │
    │ 2   ┆ 7.0 ┆ b   ┆ y     │
    └─────┴─────┴─────┴───────┘

    >>> df.join(other_df, on="ham", how="full")
    shape: (4, 5)
    ┌──────┬──────┬──────┬───────┬───────────┐
    │ foo  ┆ bar  ┆ ham  ┆ apple ┆ ham_right │
    │ ---  ┆ ---  ┆ ---  ┆ ---   ┆ ---       │
    │ i64  ┆ f64  ┆ str  ┆ str   ┆ str       │
    ╞══════╪══════╪══════╪═══════╪═══════════╡
    │ 1    ┆ 6.0  ┆ a    ┆ x     ┆ a         │
    │ 2    ┆ 7.0  ┆ b    ┆ y     ┆ b         │
    │ null ┆ null ┆ null ┆ z     ┆ d         │
    │ 3    ┆ 8.0  ┆ c    ┆ null  ┆ null      │
    └──────┴──────┴──────┴───────┴───────────┘

    >>> df.join(other_df, on="ham", how="left", coalesce=True)
    shape: (3, 4)
    ┌─────┬─────┬─────┬───────┐
    │ foo ┆ bar ┆ ham ┆ apple │
    │ --- ┆ --- ┆ --- ┆ ---   │
    │ i64 ┆ f64 ┆ str ┆ str   │
    ╞═════╪═════╪═════╪═══════╡
    │ 1   ┆ 6.0 ┆ a   ┆ x     │
    │ 2   ┆ 7.0 ┆ b   ┆ y     │
    │ 3   ┆ 8.0 ┆ c   ┆ null  │
    └─────┴─────┴─────┴───────┘

    >>> df.join(other_df, on="ham", how="semi")
    shape: (2, 3)
    ┌─────┬─────┬─────┐
    │ foo ┆ bar ┆ ham │
    │ --- ┆ --- ┆ --- │
    │ i64 ┆ f64 ┆ str │
    ╞═════╪═════╪═════╡
    │ 1   ┆ 6.0 ┆ a   │
    │ 2   ┆ 7.0 ┆ b   │
    └─────┴─────┴─────┘

    >>> df.join(other_df, on="ham", how="anti")
    shape: (1, 3)
    ┌─────┬─────┬─────┐
    │ foo ┆ bar ┆ ham │
    │ --- ┆ --- ┆ --- │
    │ i64 ┆ f64 ┆ str │
    ╞═════╪═════╪═════╡
    │ 3   ┆ 8.0 ┆ c   │
    └─────┴─────┴─────┘

    Notes
    -----
    For joining on columns with categorical data, see :class:`polars.StringCache`.

<font color="orange">
Your answers here

1. Cross - joins each row from the first table to each row of the second
2. semi - returns rows from the left table that has a match from the right table
3. anti - returns rows from the left table that have no match to the right table
</font>

## Chaining multiple joins

To join more than two tables, simply dot-chain each join onto the first table.

```{python}
(table1
 .join(table2, ...)
 .join(table3, ...)
)
```

### Example - Average salary by department

Suppose we want to compute the average salary for each department, sorted from largest to smallest.  Before performing the query, make sure you understand the relationships between tables.

<img src="https://github.com/WSU-DataScience/dsci_325_module_7_more_data_management_in_python/raw/main/img/table_relationship.png" width="800">

#### Edit 1 - Joining the salary and employee tables

**Notes.**

1. We can't perform the aggregation until *after* joining the departments and salaries.
2. Since we are primarily interested in aggregating salaries, we need to use a *left* join with the salary table on the left.
3. To illustrate the coding process, we will show each successive edit in a separate cell.  In practice, all the code would be developed in one cell, but rerun to check the results at each step.

In [19]:
(salary
 .join(empl, on='EmployeeID', how='left')
).head()

shape: (5, 5)
┌────────────┬──────┬────────┬──────────┬────────┐
│ EmployeeID ┆ Year ┆ Salary ┆ LastName ┆ DeptID │
│ ---        ┆ ---  ┆ ---    ┆ ---      ┆ ---    │
│ i64        ┆ i64  ┆ i64    ┆ str      ┆ i64    │
╞════════════╪══════╪════════╪══════════╪════════╡
│ 102        ┆ 2020 ┆ 52000  ┆ Rafferty ┆ 31     │
│ 102        ┆ 2021 ┆ 53000  ┆ Rafferty ┆ 31     │
│ 102        ┆ 2022 ┆ 54000  ┆ Rafferty ┆ 31     │
│ 105        ┆ 2020 ┆ 73000  ┆ Jones    ┆ 33     │
│ 105        ┆ 2021 ┆ 74000  ┆ Jones    ┆ 33     │
└────────────┴──────┴────────┴──────────┴────────┘

#### Edit 2  - Joining on the departments

In [20]:
(salary
 .join(empl, on='EmployeeID', how='left')
 .join(dept, on='DeptID', how='left')
).head()

shape: (5, 6)
┌────────────┬──────┬────────┬──────────┬────────┬─────────────┐
│ EmployeeID ┆ Year ┆ Salary ┆ LastName ┆ DeptID ┆ DeptName    │
│ ---        ┆ ---  ┆ ---    ┆ ---      ┆ ---    ┆ ---         │
│ i64        ┆ i64  ┆ i64    ┆ str      ┆ i64    ┆ str         │
╞════════════╪══════╪════════╪══════════╪════════╪═════════════╡
│ 102        ┆ 2020 ┆ 52000  ┆ Rafferty ┆ 31     ┆ Sales       │
│ 102        ┆ 2021 ┆ 53000  ┆ Rafferty ┆ 31     ┆ Sales       │
│ 102        ┆ 2022 ┆ 54000  ┆ Rafferty ┆ 31     ┆ Sales       │
│ 105        ┆ 2020 ┆ 73000  ┆ Jones    ┆ 33     ┆ Engineering │
│ 105        ┆ 2021 ┆ 74000  ┆ Jones    ┆ 33     ┆ Engineering │
└────────────┴──────┴────────┴──────────┴────────┴─────────────┘

#### Edit 3  - Group and aggregate

In [21]:
(salary
 .join(empl, on='EmployeeID', how='left')
 .join(dept, on='DeptID', how='left')
 .group_by('DeptName')
 .agg([pl.col('Salary').mean().alias('Average Salary'),
      ])
)

shape: (4, 2)
┌─────────────┬────────────────┐
│ DeptName    ┆ Average Salary │
│ ---         ┆ ---            │
│ str         ┆ f64            │
╞═════════════╪════════════════╡
│ Engineering ┆ 79000.0        │
│ Clerical    ┆ 77000.0        │
│ null        ┆ 73000.0        │
│ Sales       ┆ 53000.0        │
└─────────────┴────────────────┘

#### Edit 4  - Sort the results from largest to smallest

In [22]:
(salary
 .join(empl, on='EmployeeID', how='left')
 .join(dept, on='DeptID', how='left')
 .group_by('DeptName')
 .agg([pl.col('Salary').mean().alias('Average Salary'),
      ])
 .sort('Average Salary', descending=True)
)

shape: (4, 2)
┌─────────────┬────────────────┐
│ DeptName    ┆ Average Salary │
│ ---         ┆ ---            │
│ str         ┆ f64            │
╞═════════════╪════════════════╡
│ Engineering ┆ 79000.0        │
│ Clerical    ┆ 77000.0        │
│ null        ┆ 73000.0        │
│ Sales       ┆ 53000.0        │
└─────────────┴────────────────┘

## Example 2 - Joining Batting to People

As an example of a joining on more than 1 column, consider the following task.

**Task:** Create a table with the total runs score for each team in 2009.  Include the teams proper name and the name of their home park.

In [23]:
batting = pl.read_csv("./sample_data/baseball/core/Batting.csv")
batting.head()

shape: (5, 22)
┌───────────┬────────┬───────┬────────┬───┬──────┬──────┬──────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ HBP  ┆ SH   ┆ SF   ┆ GIDP │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---  ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ str  ┆ str  ┆ str  ┆ i64  │
╞═══════════╪════════╪═══════╪════════╪═══╪══════╪══════╪══════╪══════╡
│ abercda01 ┆ 1871   ┆ 1     ┆ TRO    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ addybo01  ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ allisar01 ┆ 1871   ┆ 1     ┆ CL1    ┆ … ┆ null ┆ null ┆ null ┆ 1    │
│ allisdo01 ┆ 1871   ┆ 1     ┆ WS3    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ ansonca01 ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
└───────────┴────────┴───────┴────────┴───┴──────┴──────┴──────┴──────┘

In [24]:
teams = pl.read_csv("./sample_data/baseball/core/Teams.csv")
teams.head()

shape: (5, 48)
┌────────┬──────┬────────┬──────────┬───┬─────┬──────────┬────────────────┬─────────────┐
│ yearID ┆ lgID ┆ teamID ┆ franchID ┆ … ┆ PPF ┆ teamIDBR ┆ teamIDlahman45 ┆ teamIDretro │
│ ---    ┆ ---  ┆ ---    ┆ ---      ┆   ┆ --- ┆ ---      ┆ ---            ┆ ---         │
│ i64    ┆ str  ┆ str    ┆ str      ┆   ┆ i64 ┆ str      ┆ str            ┆ str         │
╞════════╪══════╪════════╪══════════╪═══╪═════╪══════════╪════════════════╪═════════════╡
│ 1871   ┆ NA   ┆ BS1    ┆ BNA      ┆ … ┆ 98  ┆ BOS      ┆ BS1            ┆ BS1         │
│ 1871   ┆ NA   ┆ CH1    ┆ CNA      ┆ … ┆ 102 ┆ CHI      ┆ CH1            ┆ CH1         │
│ 1871   ┆ NA   ┆ CL1    ┆ CFC      ┆ … ┆ 100 ┆ CLE      ┆ CL1            ┆ CL1         │
│ 1871   ┆ NA   ┆ FW1    ┆ KEK      ┆ … ┆ 107 ┆ KEK      ┆ FW1            ┆ FW1         │
│ 1871   ┆ NA   ┆ NY2    ┆ NNA      ┆ … ┆ 88  ┆ NYU      ┆ NY2            ┆ NY2         │
└────────┴──────┴────────┴──────────┴───┴─────┴──────────┴────────────────┴─────────────┘

## Things we need from `Batting.csv`

* Year
* Runs
* Team

In [25]:
batting.head(2)

shape: (2, 22)
┌───────────┬────────┬───────┬────────┬───┬──────┬──────┬──────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ HBP  ┆ SH   ┆ SF   ┆ GIDP │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---  ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ str  ┆ str  ┆ str  ┆ i64  │
╞═══════════╪════════╪═══════╪════════╪═══╪══════╪══════╪══════╪══════╡
│ abercda01 ┆ 1871   ┆ 1     ┆ TRO    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ addybo01  ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
└───────────┴────────┴───────┴────────┴───┴──────┴──────┴──────┴──────┘

#### Selecting down to the necessary columns

In [26]:
batting_select = (batting
                  .select(['teamID',
                           'yearID',
                           'R'])
                 )
batting_select.head()

shape: (5, 3)
┌────────┬────────┬─────┐
│ teamID ┆ yearID ┆ R   │
│ ---    ┆ ---    ┆ --- │
│ str    ┆ i64    ┆ i64 │
╞════════╪════════╪═════╡
│ TRO    ┆ 1871   ┆ 0   │
│ RC1    ┆ 1871   ┆ 30  │
│ CL1    ┆ 1871   ┆ 28  │
│ WS3    ┆ 1871   ┆ 28  │
│ RC1    ┆ 1871   ┆ 29  │
└────────┴────────┴─────┘

In [27]:
batting_select.shape

(107429, 3)

## Things we need from `Teams.csv`

* Year
* Runs
* Team

In [28]:
teams.head(2)

shape: (2, 48)
┌────────┬──────┬────────┬──────────┬───┬─────┬──────────┬────────────────┬─────────────┐
│ yearID ┆ lgID ┆ teamID ┆ franchID ┆ … ┆ PPF ┆ teamIDBR ┆ teamIDlahman45 ┆ teamIDretro │
│ ---    ┆ ---  ┆ ---    ┆ ---      ┆   ┆ --- ┆ ---      ┆ ---            ┆ ---         │
│ i64    ┆ str  ┆ str    ┆ str      ┆   ┆ i64 ┆ str      ┆ str            ┆ str         │
╞════════╪══════╪════════╪══════════╪═══╪═════╪══════════╪════════════════╪═════════════╡
│ 1871   ┆ NA   ┆ BS1    ┆ BNA      ┆ … ┆ 98  ┆ BOS      ┆ BS1            ┆ BS1         │
│ 1871   ┆ NA   ┆ CH1    ┆ CNA      ┆ … ┆ 102 ┆ CHI      ┆ CH1            ┆ CH1         │
└────────┴──────┴────────┴──────────┴───┴─────┴──────────┴────────────────┴─────────────┘

#### Selecting down to the necessary columns

In [29]:
teams_select = (teams.select(['yearID',
                              'teamID',
                              'name',
                              'park',
                             ]))
teams_select.head()

shape: (5, 4)
┌────────┬────────┬─────────────────────────┬──────────────────────────────┐
│ yearID ┆ teamID ┆ name                    ┆ park                         │
│ ---    ┆ ---    ┆ ---                     ┆ ---                          │
│ i64    ┆ str    ┆ str                     ┆ str                          │
╞════════╪════════╪═════════════════════════╪══════════════════════════════╡
│ 1871   ┆ BS1    ┆ Boston Red Stockings    ┆ South End Grounds I          │
│ 1871   ┆ CH1    ┆ Chicago White Stockings ┆ Union Base-Ball Grounds      │
│ 1871   ┆ CL1    ┆ Cleveland Forest Citys  ┆ National Association Grounds │
│ 1871   ┆ FW1    ┆ Fort Wayne Kekiongas    ┆ Hamilton Field               │
│ 1871   ┆ NY2    ┆ New York Mutuals        ┆ Union Grounds (Brooklyn)     │
└────────┴────────┴─────────────────────────┴──────────────────────────────┘

In [30]:
teams_select.shape

(2925, 4)

## How can we match these columns?

We will need to match on both `teamID` and `yearID` because

1. Team names might change
2. The teams park depends on the year.

## Determining the correct join.

Facts of the task:

* We want batting statistics for all players in 2009
* We want only teams names and parks for teams that played that year.

**Question:** Which join? 
**Answer:** `batting >> left_join(teams)` on both year and

## How to join on multiple columns

Pass a list of columns names to `on`

In [32]:
df_joined = batting_select.join(teams_select, on=['teamID', 'yearID'], how='left')
df_joined.head()

shape: (5, 5)
┌────────┬────────┬─────┬────────────────────────┬─────────────────────────────────┐
│ teamID ┆ yearID ┆ R   ┆ name                   ┆ park                            │
│ ---    ┆ ---    ┆ --- ┆ ---                    ┆ ---                             │
│ str    ┆ i64    ┆ i64 ┆ str                    ┆ str                             │
╞════════╪════════╪═════╪════════════════════════╪═════════════════════════════════╡
│ TRO    ┆ 1871   ┆ 0   ┆ Troy Haymakers         ┆ Haymakers' Grounds              │
│ RC1    ┆ 1871   ┆ 30  ┆ Rockford Forest Citys  ┆ Agricultural Society Fair Grou… │
│ CL1    ┆ 1871   ┆ 28  ┆ Cleveland Forest Citys ┆ National Association Grounds    │
│ WS3    ┆ 1871   ┆ 28  ┆ Washington Olympics    ┆ Olympics Grounds                │
│ RC1    ┆ 1871   ┆ 29  ┆ Rockford Forest Citys  ┆ Agricultural Society Fair Grou… │
└────────┴────────┴─────┴────────────────────────┴─────────────────────────────────┘

In [34]:
df_joined.shape

(107429, 5)

#### Filter, group by, and aggregate to get the desired result.

In [35]:
runs_per_team09 = (df_joined
                   .filter(pl.col('yearID') == 2009)
                   .group_by([pl.col('name'), pl.col('park')])
                   .agg(pl.col('R').sum().alias('total_runs')))
runs_per_team09.head()

shape: (5, 3)
┌──────────────────────┬──────────────────┬────────────┐
│ name                 ┆ park             ┆ total_runs │
│ ---                  ┆ ---              ┆ ---        │
│ str                  ┆ str              ┆ i64        │
╞══════════════════════╪══════════════════╪════════════╡
│ Houston Astros       ┆ Minute Maid Park ┆ 643        │
│ Florida Marlins      ┆ Dolphin Stadium  ┆ 772        │
│ New York Mets        ┆ Citi Field       ┆ 671        │
│ Washington Nationals ┆ Nationals Park   ┆ 710        │
│ Tampa Bay Rays       ┆ Tropicana Field  ┆ 803        │
└──────────────────────┴──────────────────┴────────────┘

In [36]:
runs_per_team09.shape

(30, 3)

## <font color="red"> Exercise 7.3.2 </font>

Determine all the players that have hit more than 30 home runs in a season.  The final table should include the players proper name, as well as the team name.  

**Hint:** You will need join the `Batting.csv`, `People.csv`, and `Teams.csv` files.  To get credit for this exercise, use the join methods presented above.

In [7]:
# Your code here
Batting = pl.read_csv('./sample_data/baseball/core/Batting.csv')
Batting.head()

shape: (5, 22)
┌───────────┬────────┬───────┬────────┬───┬──────┬──────┬──────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ HBP  ┆ SH   ┆ SF   ┆ GIDP │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ ---  ┆ ---  ┆ ---  ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ str  ┆ str  ┆ str  ┆ i64  │
╞═══════════╪════════╪═══════╪════════╪═══╪══════╪══════╪══════╪══════╡
│ abercda01 ┆ 1871   ┆ 1     ┆ TRO    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ addybo01  ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ allisar01 ┆ 1871   ┆ 1     ┆ CL1    ┆ … ┆ null ┆ null ┆ null ┆ 1    │
│ allisdo01 ┆ 1871   ┆ 1     ┆ WS3    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
│ ansonca01 ┆ 1871   ┆ 1     ┆ RC1    ┆ … ┆ null ┆ null ┆ null ┆ 0    │
└───────────┴────────┴───────┴────────┴───┴──────┴──────┴──────┴──────┘

In [19]:
People = pl.read_csv('./sample_data/baseball/core/People.csv')
People_short = (People
                 .select(['playerID','nameGiven']))
People_short.head()

shape: (5, 2)
┌───────────┬────────────────┐
│ playerID  ┆ nameGiven      │
│ ---       ┆ ---            │
│ str       ┆ str            │
╞═══════════╪════════════════╡
│ aardsda01 ┆ David Allan    │
│ aaronha01 ┆ Henry Louis    │
│ aaronto01 ┆ Tommie Lee     │
│ aasedo01  ┆ Donald William │
│ abadan01  ┆ Fausto Andres  │
└───────────┴────────────────┘

In [23]:
Teams = pl.read_csv('./sample_data/baseball/core/Teams.csv')
#Teams.head()
Teams_Short = (Teams
              .select(['yearID','teamID','name']))
Teams_Short.head()

shape: (5, 3)
┌────────┬────────┬─────────────────────────┐
│ yearID ┆ teamID ┆ name                    │
│ ---    ┆ ---    ┆ ---                     │
│ i64    ┆ str    ┆ str                     │
╞════════╪════════╪═════════════════════════╡
│ 1871   ┆ BS1    ┆ Boston Red Stockings    │
│ 1871   ┆ CH1    ┆ Chicago White Stockings │
│ 1871   ┆ CL1    ┆ Cleveland Forest Citys  │
│ 1871   ┆ FW1    ┆ Fort Wayne Kekiongas    │
│ 1871   ┆ NY2    ┆ New York Mutuals        │
└────────┴────────┴─────────────────────────┘

In [31]:
Home_run_hitters = (Batting
                    .select(['teamID','playerID','yearID','HR'])
                   .filter(pl.col('HR')>=30)
                   .join(People_short, on='playerID', how='left')
                    .join(Teams_Short, on=['yearID','teamID'], how='left')
                    .select(['yearID','nameGiven','name','HR'])
                   .rename({'nameGiven':'Player Name'})
                   .rename({'name':'Team Name'}))
Home_run_hitters.head()

shape: (5, 4)
┌────────┬──────────────────┬────────────────────────┬─────┐
│ yearID ┆ Player Name      ┆ Team Name              ┆ HR  │
│ ---    ┆ ---              ┆ ---                    ┆ --- │
│ i64    ┆ str              ┆ str                    ┆ i64 │
╞════════╪══════════════════╪════════════════════════╪═════╡
│ 1920   ┆ George Herman    ┆ New York Yankees       ┆ 54  │
│ 1921   ┆ George Herman    ┆ New York Yankees       ┆ 59  │
│ 1922   ┆ Rogers           ┆ St. Louis Cardinals    ┆ 42  │
│ 1922   ┆ George Herman    ┆ New York Yankees       ┆ 35  │
│ 1922   ┆ Clarence William ┆ Philadelphia Athletics ┆ 37  │
└────────┴──────────────────┴────────────────────────┴─────┘

## Joins are expensive!

**Be careful when joining large tables!! Especially for full outer joins!!!**

When joining table `A` to table `B`, 

* `inner_join` performs `min(len(A), len(B))` comparisons
* `outer_join` performs `len(A)*len(B)` row comparisons.
* `left_join` and `right_join` are somewhere inbetween (depending on how we treat multiples).

## Outer joins (can) produce LARGE tables.

**Be careful when joining large tables!! Especially for full outer joins!!!**

When joining table `A` to table `B`, 

* `outer_join` might produce `len(A)*len(B)` rows (worst case)
* `left_join` and `right_join` are similar if we don't drop multiples.

### Example - Incorrect join of `batting` and `teams`

Suppose that, when joining the batting and teams table, we forget to include the `yearID` as a key

In [38]:
batting.shape

(107429, 22)

In [39]:
teams.shape

(2925, 48)

In [40]:
BAD = batting.join(teams, on='teamID', how='full')

In [42]:
# the output EXPLODED!!!1!!one!
BAD.shape

(8699563, 70)

#### Last example

In [27]:
len(batting_select)*len(teams_select)

314229825

## The joining mantra: Filter/aggregate THEN join

By filtering and/or aggregating before joining, you will

* reduce the amount of work
* protect against really large output

#### Filter and aggregate to total runs per team per year

In [28]:
runs = (batting_select
        .filter(pl.col('yearID') == 2009)
        .group_by(pl.col('teamID'))
        .agg(pl.col('R').sum().alias('total_runs')))

runs.head()

shape: (5, 2)
┌────────┬────────────┐
│ teamID ┆ total_runs │
│ ---    ┆ ---        │
│ str    ┆ i64        │
╞════════╪════════════╡
│ PIT    ┆ 636        │
│ TBA    ┆ 803        │
│ SEA    ┆ 640        │
│ BOS    ┆ 872        │
│ DET    ┆ 743        │
└────────┴────────────┘

#### Filter down to 2009 teams

In [29]:
teams09 = (teams_select
           .filter(pl.col('yearID') == 2009)
          )
teams09.head()

shape: (5, 4)
┌────────┬────────┬──────────────────────┬─────────────────────────────┐
│ yearID ┆ teamID ┆ name                 ┆ park                        │
│ ---    ┆ ---    ┆ ---                  ┆ ---                         │
│ i64    ┆ str    ┆ str                  ┆ str                         │
╞════════╪════════╪══════════════════════╪═════════════════════════════╡
│ 2009   ┆ ARI    ┆ Arizona Diamondbacks ┆ Chase Field                 │
│ 2009   ┆ ATL    ┆ Atlanta Braves       ┆ Turner Field                │
│ 2009   ┆ BAL    ┆ Baltimore Orioles    ┆ Oriole Park at Camden Yards │
│ 2009   ┆ BOS    ┆ Boston Red Sox       ┆ Fenway Park II              │
│ 2009   ┆ CHA    ┆ Chicago White Sox    ┆ U.S. Cellular Field         │
└────────┴────────┴──────────────────────┴─────────────────────────────┘

In [30]:
len(runs)*len(teams09)

900

In [31]:
runs_per_team09_new = (runs 
                       .join(teams09, on='teamID', how='left')
                       .drop('teamID')
                      )
runs_per_team09_new.head()

shape: (5, 4)
┌────────────┬────────┬────────────────────┬─────────────────┐
│ total_runs ┆ yearID ┆ name               ┆ park            │
│ ---        ┆ ---    ┆ ---                ┆ ---             │
│ i64        ┆ i64    ┆ str                ┆ str             │
╞════════════╪════════╪════════════════════╪═════════════════╡
│ 636        ┆ 2009   ┆ Pittsburgh Pirates ┆ PNC Park        │
│ 803        ┆ 2009   ┆ Tampa Bay Rays     ┆ Tropicana Field │
│ 640        ┆ 2009   ┆ Seattle Mariners   ┆ Safeco Field    │
│ 872        ┆ 2009   ┆ Boston Red Sox     ┆ Fenway Park II  │
│ 743        ┆ 2009   ┆ Detroit Tigers     ┆ Comerica Park   │
└────────────┴────────┴────────────────────┴─────────────────┘

In [32]:
runs_per_team09_new.shape

(30, 4)

## Don't worry about speed until it matters!

* I don't emphasize speed most of the time.
* In this case, either approach was nearly instant.
* Still ... `join`s are *so dangerous* that I make an exception here!

In [33]:
# Your code here